body {
  text-align: center;
  background-color: hsl(0, 0%, 90%);
}

#list {
  margin-top: 5px;
}
.card-body {
  background-color: hsl(0, 0%, 95%);
}

.App-header {
  background-color: hsl(216, 5%, 19%);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: hsl(0, 0%, 80%);

}

.btn-secondary {
  background-color: transparent
}

a {
  padding: 5px;
  color: hsl(0, 0%, 70%);

}

a:hover {
  text-decoration: none;
  background-color: hsl(0, 0%, 79%);
  color: hsl(0, 0%, 30%);
  padding: 5px;
  border-radius: 5px;
}

.error {
  color: hsl(0, 93%, 57%);
  text-align: center;
}